<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whatbi.zq.dal.persistence.ZqFirstDebtMapperExt">
  <resultMap id="BaseResultMap" type="com.whatbi.zq.dal.domain.ZqFirstDebt">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="c_id" jdbcType="BIGINT" property="cId" />
    <result column="d_money" jdbcType="DOUBLE" property="dMoney" />
    <result column="d_use_money" jdbcType="DOUBLE" property="dUseMoney" />
    <result column="d_startdate" jdbcType="BIGINT" property="dStartdate" />
    <result column="d_enddate" jdbcType="BIGINT" property="dEnddate" />
    <result column="d_rate" jdbcType="DOUBLE" property="dRate" />
    <result column="d_type" jdbcType="INTEGER" property="dType" />
    <result column="d_mortgage" jdbcType="INTEGER" property="dMortgage" />
    <result column="d_use" jdbcType="VARCHAR" property="dUse" />
    <result column="remark" jdbcType="INTEGER" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_deleted, creator, gmt_create, modifier, gmt_modified, c_id, d_money, d_use_money, 
    d_startdate, d_enddate, d_rate, d_type, d_mortgage, d_use, remark
  </sql>
  <select id="selectByExample" parameterType="com.whatbi.zq.dal.domain.ZqFirstDebtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zq_first_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0" />
    <if test="oredCriteria.size == 0" />
    <include refid="fullOrgPath" />
    <include refid="owner" />
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zq_first_debt
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zq_first_debt
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whatbi.zq.dal.domain.ZqFirstDebtExample">
    delete from zq_first_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.whatbi.zq.dal.domain.ZqFirstDebt">
    insert into zq_first_debt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="dMoney != null">
        d_money,
      </if>
      <if test="dUseMoney != null">
        d_use_money,
      </if>
      <if test="dStartdate != null">
        d_startdate,
      </if>
      <if test="dEnddate != null">
        d_enddate,
      </if>
      <if test="dRate != null">
        d_rate,
      </if>
      <if test="dType != null">
        d_type,
      </if>
      <if test="dMortgage != null">
        d_mortgage,
      </if>
      <if test="dUse != null">
        d_use,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=BIGINT},
      </if>
      <if test="dMoney != null">
        #{dMoney,jdbcType=DOUBLE},
      </if>
      <if test="dUseMoney != null">
        #{dUseMoney,jdbcType=DOUBLE},
      </if>
      <if test="dStartdate != null">
        #{dStartdate,jdbcType=BIGINT},
      </if>
      <if test="dEnddate != null">
        #{dEnddate,jdbcType=BIGINT},
      </if>
      <if test="dRate != null">
        #{dRate,jdbcType=DOUBLE},
      </if>
      <if test="dType != null">
        #{dType,jdbcType=INTEGER},
      </if>
      <if test="dMortgage != null">
        #{dMortgage,jdbcType=INTEGER},
      </if>
      <if test="dUse != null">
        #{dUse,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whatbi.zq.dal.domain.ZqFirstDebtExample" resultType="java.lang.Integer">
    select count(*) from zq_first_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0" />
    <if test="oredCriteria.size == 0" />
    <include refid="fullOrgPath" />
    <include refid="owner" />
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zq_first_debt
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=BIGINT},
      </if>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=BIGINT},
      </if>
      <if test="record.dMoney != null">
        d_money = #{record.dMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.dUseMoney != null">
        d_use_money = #{record.dUseMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.dStartdate != null">
        d_startdate = #{record.dStartdate,jdbcType=BIGINT},
      </if>
      <if test="record.dEnddate != null">
        d_enddate = #{record.dEnddate,jdbcType=BIGINT},
      </if>
      <if test="record.dRate != null">
        d_rate = #{record.dRate,jdbcType=DOUBLE},
      </if>
      <if test="record.dType != null">
        d_type = #{record.dType,jdbcType=INTEGER},
      </if>
      <if test="record.dMortgage != null">
        d_mortgage = #{record.dMortgage,jdbcType=INTEGER},
      </if>
      <if test="record.dUse != null">
        d_use = #{record.dUse,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zq_first_debt
    set id = #{record.id,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=CHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=BIGINT},
      c_id = #{record.cId,jdbcType=BIGINT},
      d_money = #{record.dMoney,jdbcType=DOUBLE},
      d_use_money = #{record.dUseMoney,jdbcType=DOUBLE},
      d_startdate = #{record.dStartdate,jdbcType=BIGINT},
      d_enddate = #{record.dEnddate,jdbcType=BIGINT},
      d_rate = #{record.dRate,jdbcType=DOUBLE},
      d_type = #{record.dType,jdbcType=INTEGER},
      d_mortgage = #{record.dMortgage,jdbcType=INTEGER},
      d_use = #{record.dUse,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whatbi.zq.dal.domain.ZqFirstDebt">
    update zq_first_debt
    <set>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifier == null">
        MODIFIER = 'system',
      </if>
      <if test="gmtModified == null">
        GMT_MODIFIED = 0,
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=BIGINT},
      </if>
      <if test="dMoney != null">
        d_money = #{dMoney,jdbcType=DOUBLE},
      </if>
      <if test="dUseMoney != null">
        d_use_money = #{dUseMoney,jdbcType=DOUBLE},
      </if>
      <if test="dStartdate != null">
        d_startdate = #{dStartdate,jdbcType=BIGINT},
      </if>
      <if test="dEnddate != null">
        d_enddate = #{dEnddate,jdbcType=BIGINT},
      </if>
      <if test="dRate != null">
        d_rate = #{dRate,jdbcType=DOUBLE},
      </if>
      <if test="dType != null">
        d_type = #{dType,jdbcType=INTEGER},
      </if>
      <if test="dMortgage != null">
        d_mortgage = #{dMortgage,jdbcType=INTEGER},
      </if>
      <if test="dUse != null">
        d_use = #{dUse,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="MysqlDialectSuffix">
    <if test="page != null">
      <![CDATA[ LIMIT #{page.begin},#{page.end} ]]>
    </if>
  </sql>
  <sql id="fullOrgPath">
    <if test="fullOrgPath != null" />
  </sql>
  <sql id="owner">
    <if test="owner != null" />
  </sql>
</mapper>