<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whatbi.zq.dal.persistence.ZqReportDebtListMapperExt" >
  <resultMap id="BaseResultMap" type="com.whatbi.zq.dal.domain.ZqReportDebtList" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="BIGINT" />
    <result column="rep_tra_id" property="repTraId" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="cust_cardid" property="custCardid" jdbcType="VARCHAR" />
    <result column="debt_money" property="debtMoney" jdbcType="VARCHAR" />
    <result column="debt_money_copy" property="debtMoneyCopy" jdbcType="VARCHAR" />
    <result column="cust_job" property="custJob" jdbcType="VARCHAR" />
    <result column="debt_use" property="debtUse" jdbcType="VARCHAR" />
    <result column="debt_date" property="debtDate" jdbcType="VARCHAR" />
    <result column="debt_time_limit" property="debtTimeLimit" jdbcType="VARCHAR" />
    <result column="month_num" property="monthNum" jdbcType="VARCHAR" />
    <result column="year_rate" property="yearRate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, is_deleted, creator, gmt_create, modifier, gmt_modified, rep_tra_id, cust_name, 
    cust_cardid, debt_money, debt_money_copy, cust_job, debt_use, debt_date, debt_time_limit, 
    month_num, year_rate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whatbi.zq.dal.domain.ZqReportDebtListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zq_report_debt_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0" />
    <if test="oredCriteria.size == 0" />
    <include refid="fullOrgPath" />
    <include refid="owner" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zq_report_debt_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zq_report_debt_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whatbi.zq.dal.domain.ZqReportDebtListExample" >
    delete from zq_report_debt_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.whatbi.zq.dal.domain.ZqReportDebtList" >
    insert into zq_report_debt_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="repTraId != null" >
        rep_tra_id,
      </if>
      <if test="custName != null" >
        cust_name,
      </if>
      <if test="custCardid != null" >
        cust_cardid,
      </if>
      <if test="debtMoney != null" >
        debt_money,
      </if>
      <if test="debtMoneyCopy != null" >
        debt_money_copy,
      </if>
      <if test="custJob != null" >
        cust_job,
      </if>
      <if test="debtUse != null" >
        debt_use,
      </if>
      <if test="debtDate != null" >
        debt_date,
      </if>
      <if test="debtTimeLimit != null" >
        debt_time_limit,
      </if>
      <if test="monthNum != null" >
        month_num,
      </if>
      <if test="yearRate != null" >
        year_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="repTraId != null" >
        #{repTraId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custCardid != null" >
        #{custCardid,jdbcType=VARCHAR},
      </if>
      <if test="debtMoney != null" >
        #{debtMoney,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyCopy != null" >
        #{debtMoneyCopy,jdbcType=VARCHAR},
      </if>
      <if test="custJob != null" >
        #{custJob,jdbcType=VARCHAR},
      </if>
      <if test="debtUse != null" >
        #{debtUse,jdbcType=VARCHAR},
      </if>
      <if test="debtDate != null" >
        #{debtDate,jdbcType=VARCHAR},
      </if>
      <if test="debtTimeLimit != null" >
        #{debtTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="monthNum != null" >
        #{monthNum,jdbcType=VARCHAR},
      </if>
      <if test="yearRate != null" >
        #{yearRate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whatbi.zq.dal.domain.ZqReportDebtListExample" resultType="java.lang.Integer" >
    select count(*) from zq_report_debt_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0" />
    <if test="oredCriteria.size == 0" />
    <include refid="fullOrgPath" />
    <include refid="owner" />
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zq_report_debt_list
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=BIGINT},
      </if>
      <if test="record.repTraId != null" >
        rep_tra_id = #{record.repTraId,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null" >
        cust_name = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custCardid != null" >
        cust_cardid = #{record.custCardid,jdbcType=VARCHAR},
      </if>
      <if test="record.debtMoney != null" >
        debt_money = #{record.debtMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.debtMoneyCopy != null" >
        debt_money_copy = #{record.debtMoneyCopy,jdbcType=VARCHAR},
      </if>
      <if test="record.custJob != null" >
        cust_job = #{record.custJob,jdbcType=VARCHAR},
      </if>
      <if test="record.debtUse != null" >
        debt_use = #{record.debtUse,jdbcType=VARCHAR},
      </if>
      <if test="record.debtDate != null" >
        debt_date = #{record.debtDate,jdbcType=VARCHAR},
      </if>
      <if test="record.debtTimeLimit != null" >
        debt_time_limit = #{record.debtTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.monthNum != null" >
        month_num = #{record.monthNum,jdbcType=VARCHAR},
      </if>
      <if test="record.yearRate != null" >
        year_rate = #{record.yearRate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zq_report_debt_list
    set id = #{record.id,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=CHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=BIGINT},
      rep_tra_id = #{record.repTraId,jdbcType=VARCHAR},
      cust_name = #{record.custName,jdbcType=VARCHAR},
      cust_cardid = #{record.custCardid,jdbcType=VARCHAR},
      debt_money = #{record.debtMoney,jdbcType=VARCHAR},
      debt_money_copy = #{record.debtMoneyCopy,jdbcType=VARCHAR},
      cust_job = #{record.custJob,jdbcType=VARCHAR},
      debt_use = #{record.debtUse,jdbcType=VARCHAR},
      debt_date = #{record.debtDate,jdbcType=VARCHAR},
      debt_time_limit = #{record.debtTimeLimit,jdbcType=VARCHAR},
      month_num = #{record.monthNum,jdbcType=VARCHAR},
      year_rate = #{record.yearRate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whatbi.zq.dal.domain.ZqReportDebtList" >
    update zq_report_debt_list
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifier == null" >
        MODIFIER = 'system',
      </if>
      <if test="gmtModified == null" >
        GMT_MODIFIED = 0,
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="repTraId != null" >
        rep_tra_id = #{repTraId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custCardid != null" >
        cust_cardid = #{custCardid,jdbcType=VARCHAR},
      </if>
      <if test="debtMoney != null" >
        debt_money = #{debtMoney,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyCopy != null" >
        debt_money_copy = #{debtMoneyCopy,jdbcType=VARCHAR},
      </if>
      <if test="custJob != null" >
        cust_job = #{custJob,jdbcType=VARCHAR},
      </if>
      <if test="debtUse != null" >
        debt_use = #{debtUse,jdbcType=VARCHAR},
      </if>
      <if test="debtDate != null" >
        debt_date = #{debtDate,jdbcType=VARCHAR},
      </if>
      <if test="debtTimeLimit != null" >
        debt_time_limit = #{debtTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="monthNum != null" >
        month_num = #{monthNum,jdbcType=VARCHAR},
      </if>
      <if test="yearRate != null" >
        year_rate = #{yearRate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="MysqlDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ LIMIT #{page.begin},#{page.end} ]]>
    </if>
  </sql>
  <sql id="fullOrgPath" >
    <if test="fullOrgPath != null" />
  </sql>
  <sql id="owner" >
    <if test="owner != null" />
  </sql>
</mapper>